<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{%  endblock %} - Rotary Pub</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/lucperkins/bulma-dashboard/master/dist/bulma-dashboard.css">
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
  </head>
  <body>
    <div class="columns mb-0">
      <aside class="menu has-background-grey-lighter column is-one-quarter is-size-4 pr-0" style="height: 100vh">
        <img class="p-5" src="/static/images/logo-stacked.png">

        <p class="menu-label ml-3">Content</p>
        <ul class="menu-list">
          <li><a href="{{ url_for('internal.news') }}">News</a></li>
          <li><a href="{{ url_for('internal.opening_hours') }}">Hours</a></li>
          <li><a href="{{ url_for('internal.menu') }}">Menu</a></li>
        </ul>

        <p class="menu-label ml-3">Workers</p>
        <ul class="menu-list">
          <li><a href="{{ url_for('internal.workers') }}">Manage</a></li>
          <li><a href="{{ url_for('internal.shifts') }}">Shifts</a></li>
        </ul>


      </aside>
      <div class="column">
        {% block content %}
        {% endblock %}
      </div>

    </div>

  </body>
</html>
