{% extends "base.html" %}
{% block title %} {{ g.strings.nav.index }} {% endblock%}

{% block content%}

<div class="container  mt-6 mb-6">
  <a class="" href="{{ url_for('internal.news') }}">News</a>
  <a class="" href="{{ url_for('internal.menu') }}">Menu</a>
  <a class="" href="{{ url_for('internal.opening_hours') }}">Hours</a>
  <a class="" href="{{ url_for('internal.shifts') }}">Shifts</a>
  <a class="" href="{{ url_for('internal.workers') }}">Manage Workers</a>
  <a class="" href="{{ url_for('internal.add_workers') }}">Add Worker</a>
</div>

{% endblock %}
