{% extends "base.html" %}
{% block title %} {{ g.strings.nav.index }} {% endblock %}

{% block content %}

<div class="container content mt-6 mb-6  is-max-desktop">


  <form class="form" action="{{ request.path }}" method="post">

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <p class="label">Title</p>
      </div>

      <div class="field-body">

        <div class="field">
          <div class="control">
            <input class="input" name="title_en" type="text" placeholder="English title">
          </div>
        </div>

        <div class="field">
          <div class="control">
            <input class="input" name="title_sv" type="text" placeholder="Svensk titel">
          </div>
        </div>

      </div>

    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <p class="label">Content</p>
      </div>

      <div class="field-body">

        <div class="field">
          <div class="control">
            <textarea class="textarea" name="body_en" placeholder="English body"></textarea>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <textarea class="textarea" name="body_sv" placeholder="Svensk brödtext"></textarea>
          </div>
        </div>

      </div>

    </div>

    <div class="field is-grouped is-grouped-right">
      <div class="control">
        <button type="submit" formmethod="post" class="button is-link">Post</button>
      </div>
    </div>

  </form>
</div>

{% endblock %}
