{% extends "internal/dash.html" %}
{% block title %} {{ g.strings.nav.index }} {% endblock%}

{% block content%}

<div class="container mt-6 mb-6">
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Start</th>
        <th>End</th>
        <th>Worker</th>
      <tr>
    </thead>
    <tr>
      <form action="{{ request.path }}" method="post" class="level container is-max-desktop">
        <td><input name="date" type="date" value="{{ today }}" required></td>
        <td><input name="start" type="time" value="19:00" required></td>
        <td><input name="end" type="time" value="00:00" required></td>
        <td>
          <div class="field has-addons">
            <p class="control">
              <span class="select">
                <select name="worker">
                  {% for worker in workers %}
                  <option value="{{worker.id}}">{{worker.display_name}}</option>
                  {% endfor %}
                </select>
              </span>
            </p>
            <p class="control">
              <button type="submit" formmethod="post" class="button is-link">Add</button>
            </p>
          </div>
        </td>
      </form>
    </tr>
  {% for shift in shifts %}
    <tr>
      <td><p>{{ shift.date }}</p></td>
      <td><p>{{ shift.start }}</p></td>
      <td><p>{{ shift.end }}</p></td>
      <td><p>{{ shift.worker }}</p></td>
      <td>
        <form class="level container is-max-desktop" action="{{ request.path }}/delete/{{ hour.id }}" method="post">
          <button class="button is-danger" type="submit">Delete</button>
        </form>
      </td>
    </tr>
  {% endfor %}
  </table>
</div>

{% endblock %}
