{% extends "internal/dash.html" %}
{% block title %} {{ g.strings.nav.index }} {% endblock%}

{% block content%}

<div class="container mt-6 mb-6">
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Start</th>
        <th>End</th>
        <th>Worker</th>
        <th></th>
      <tr>
    </thead>
    <tr>
      <form action="{{ request.path }}" method="post" class="level container is-max-desktop">
        <td><input name="date" type="date" value="{{ today }}" required></td>
        <td><input name="start" type="time" value="{{ default_start }}" required></td>
        <td><input name="end" type="time" value="{{ default_end }}" required></td>
        <td>
          <span class="select">
            <select name="worker">
              {% for worker in workers %}
              <option value="{{worker.id}}">{{worker.display_name}}</option>
              {% endfor %}
            </select>
          </span>
        </td>
        <td>
          <button type="submit" formmethod="post" class="button is-link">Add</button>
        </td>
      </form>
    </tr>
  {% for shift in shifts %}
    <tr>
      <td><p>{{ shift.date }}</p></td>
      <td><p>{{ shift.start }}</p></td>
      <td><p>{{ shift.end }}</p></td>
      <td><p>{{ shift.worker }}</p></td>
      <td>
        <form action="{{ request.path }}/delete/{{ shift.id }}" method="post">
          <button class="button is-danger is-small" type="submit">Delete</button>
        </form>
      </td>
    </tr>
  {% endfor %}
  </table>
</div>

{% endblock %}
