{% extends "internal/dash.html" %}
{% block title %} {{ g.strings.nav.index }} {% endblock%}

{% block content%}

<div class="container mt-6 mb-6">
  <div class="table-container">
    <table class="table is-striped is-fullwidth">
      <thead>
        <tr>
          <th>Nick</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Tel</th>
          <th>Email</th>
          <th>Adress</th>
          <th>Note</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for worker in workers %}
        <tr>
          <td>{{ worker.display_name }}</td>
          <td>{{ worker.first_name }}</td>
          <td>{{ worker.last_name }}</td>
          <td>{{ worker.telephone }}</td>
          <td>{{ worker.email }}</td>
            <td>{{ worker.address }}</td>
          <td>{{ worker.note }}</td>
          <td>{{ worker.status_id }}</td>
          <td>
            <form>
              <button class="button is-danger">Delete</button>
            </form>
          </td>
          <td>
          </td>
        </tr>
        {% endfor %}
        <tr>
          <form action="{{ request.path }}" method="post">
            <td>
              <input name="display_name" class="input" type="text">
            </td>
            <td>
              <input name="first_name" class="input" type="text">
            </td>
            <td>
              <input name="last_name" class="input" type="text">
            </td>
            <td>
              <input name="telephone" class="input" type="number">
            </td>
            <td>
              <input name="email" class="input" type="email">
            </td>
            <td>
              <input name="address" class="input" type="text">
            </td>
            <td>
              <input name="note" class="input" type="text">
            </td>
            <td>
              <div class="select">
                <select name="status_id">
                  <option value="1">test1</option>
                  <option value="2">test2</option>
                </select>
              </div>
            </td>
            <td>
              <button type="submit" formmethod="post" class="button is-link">Add</button>
            </td>
          </form>
        </tr>

      </tbody>
    </table>
  </div>

</div>

{% endblock %}
