{% extends "base.html" %}
{% block title %} {{ g.strings.nav.index }} {% endblock%}

{% block content%}

<div class="container">
  <div class="columns is-desktop">
    <div class="column is-two-thirds-desktop">
      <div class="content welcome">
        <h1>Welcome</h1>
        <img>
        <em>{{ g.strings.index.tagline }}</em>

      </div>
      <div class="content blog">
        <h2>{{ g.strings.index.news.header }}</h2>
        <h3>{{ news.day }}: {{ news.title }}</h3>
        <p>{{ news.body }}</p>

      </div>
    </div>
    <div class="column">
      <div class="content hours">
        <h1>{{ g.strings.index.opening_hours }}</h1>
        <table class="table is-fullwidth">
          <tbody>
            {% for day in range(7) %}
            {% if opening_hours[day]['hours'] == none %}
            <tr class="has-text-grey-light is-italic">
            {% else %}
            <tr>
            {% endif %}
              <td>{{ g.strings.days[day] }} {{ opening_hours[day]['date'] }}</td>
              {% if opening_hours[day]['hours'] == none %}
              <td class="has-text-right">{{ g.strings.index.closed }}</td>
              {% else %}
              <td class="has-text-right">{{ opening_hours[day]['hours'] }}</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="content map">
        <h1>{{ g.strings.index.find }}</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2132.48154199987!2d11.98127941600669!3d57.69128828111599!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464ff37540c3f44f%3A0x34b27b50dc84b05d!2sRotary%20Pub!5e0!3m2!1sen!2sse!4v1620212844072!5m2!1sen!2sse" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

      </div>
    </div>
  </div>


  </div>
{% endblock %}
