{% extends "base.html" %}
{% block title %} {{ g.strings.nav.index }} {% endblock%}

{% block content%}

<script src="{{ url_for('static', filename='dist/beers.js') }}"></script>

<div class="container mt-6 mb-6">
  <div class="box has-background">
    <label class="label">Add a new beer!</label>
    <p class="paragraph">Below you can fill in the form for the new beer to be added. Make sure to give the beer a reasonable 'Style' which makes sense when compared to all the other beers.</p>
    <form action="{{ request.path }}" method="POST">
      <table class="table is-narrow has-background">
        <tr>
          <td>Name: </td>
          <td> 
            <input class="input" type="text" name="name" placeholder="Slots Guld">
          </td>
        </tr>
        <tr>
          <td>Category: </td>
          <td>
            <div class="select">
              <select name="category_id">
                {% for category in categories %}
                <option style="max-width: 5vw; overflow: hidden" value="{{category.id}}">
                  {{ category_names[category.id] }}
                </option>
                {% endfor %}
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td>Style: </td>
          <td>
            <input class="input" type="text" name="style" placeholder="Export">
          </td>
        </tr>
        <tr>
          <td>ABV: </td>
          <td>
            <input class="input" type="text" name="abv" placeholder="5.9">
          </td>
        </tr>
        <tr>
          <td>Volume: </td>
          <td>
            <input class="input" type="text" name="volume" placeholder="330">
          </td>
        </tr>
        <tr>
          <td>Price: </td>
          <td>
            <input class="input" type="text" name="price" placeholder="10">
          </td>
        </tr>
        <tr>
          <td>Country: </td>
          <td>
            <div class="select">
              <select name="country_code">
                {% for country in countries %}
                <option style="max-width: 5vw; overflow: hidden" value="{{country.numeric}}">
                  {{country.name}}
                </option>
                {% endfor %}
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td>Available? </td>
          <td> 
            <input type="checkbox" name="available">
          </td>
        </tr>
      </table>
      <button type="submit" formmethod="post" class="button is-link">Add</a>
    </form>
  </div>


  <input class="input" type="text" id="searchInput" placeholder="Search..." style="width: 20%;">

  <div class="table-container">
    <table id="beersTable" class="table is-striped is-fullwidth is-narrow">
      <thead>
        <tr>
          <th>AVAIL</th>
          <th width="30%">NAME</th>
          <th>CAT</th>
          <th>STYLE</th>
          <th>ABV</th>
          <th>VOL</th>
          <th>PRICE</th>
          <th>CNTRY</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for beer in beers %}
        <tr>
          <td>
            <div class="checkbox-column">
              <form action="{{ url_for('internal.toggle_beer', n=beer.id) }}" method="POST" class="toggle-beer-form">
                <input type="checkbox" class="chungus-checkbox" {% if beer.available %}checked{% endif %}>
              </form>
            </div>
          </td>
          <td>{{ beer.name }}</td>
          <td>{{ beer.category }}</td>
          <td>{{ beer.style }}</td>
          <td>{{ beer.abv }}%</td>
          <td>{{ beer.volume_ml }}ml</td>
          <td>{{ beer.price_kr }}kr</td>
          <td>{{ to_letter_code(beer.country_iso_3166_id) }}</td>
          <td>
            <form action="{{ url_for('internal.delete_beer', n=beer.id) }}" method="POST">
              <button type="submit" class="button is-danger is-small uniform-button">Delete</button>
            </form>
            <form action="{{ url_for('internal.edit_beer', n=beer.id) }}" method="POST">
              <a href="{{ url_for('internal.edit_beer', n=beer.id) }}" class="button is-link is-small uniform-button">Edit</a>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <nav id="pagination" class="pagination is-centered" role="navigation" aria-label="pagination">
      <a href="#" class="pagination-previous">Previous</a>
      <a href="#" class="pagination-next">Next page</a>
      <ul class="pagination-list"></ul>
    </nav>
  </div>

  <h1 class="title">Ölkategorier</h1>
    <div class="box has-background">
      <label class="label">Add a new category!</label>
      <p class="paragraph">Below you can fill in the form for the category to be added. This should not be done often since new categories of beer rarely emerge. This should not be confused with the style property.</p>
      <form action="{{ url_for('internal.add_category') }}" method="POST">
        <table class="table is-narrow has-background">
          <tr>
            <td>Name SV: </td>
            <td> 
              <input class="input" type="text" name="name_sv" placeholder="Suröl">
            </td>
          </tr>
          <tr>
            <td>Name EN: </td>
            <td>
              <input class="input" type="text" name="name_en" placeholder="Sour beer">
            </td>
          </tr>
          <tr>
            <td>Priority </td>
            <td>
              <input class="input" type="text" name="priority" placeholder="69">
            </td>
          </tr>
        </table>
        <button type="submit" formmethod="post" class="button is-link">Add</a>
      </form>
    </div>

  <div class="table-container">
    <table class="table is-striped is-fullwidth is-narrow">
      <thead>
        <tr>
          <th>NAME SV</th>
          <th>NAME EN</th>
          <th width="10%">PRIORITY</th>
          <th width="10%"></th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
        <tr>
          <td>{{ category.name }}</td>
          <td>{{ category.name_en }}</td>
          <td>{{ category.priority }}</td>
          <td>
            <form action="{{ url_for('internal.edit_category', n=category.id) }}" method="POST">
              <a href="{{ url_for('internal.edit_category', n=category.id) }}" class="button is-link is-small uniform-button">Edit</a>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
