{% extends "base.html" %}
{% block title %} {{ g.strings.nav.index }} {% endblock%}

{% block content%}
<div class="container mt-6 mb-6">
    <h1 class="title">Editing Beer</h1>
    <div class="box has-background">
        <form action="{{ request.path }}" method="POST">
            {% include 'internal/_beer_form_fields.html' %}
            <div class="field">
                <div class="control">
                    <button type="submit" formmethod="post" class="button is-warning">Edit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
