{% extends "base.html" %}
{% block title %} {{ g.strings.nav.index }} {% endblock %}
{% block content %}
<div class="container mt-6 mb-6">
  <h1 class="title">Editing Category</h1>
  <div class="table-container">
    <table class="table is-striped is-fullwidth is-narrow">
      <thead>
        <tr>
          <th>NAME SV</th>
          <th>NAME EN</th>
          <th>PRIORITY</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <form action="{{ request.path }}" method="POST">
            <td>
              <input class="input" type="text" name="name_sv" value="{{ category.name_sv }}">
            </td>
            <td>
              <input class="input" type="text" name="name_en" value="{{ category.name_en }}">
            </td>
            <td>
              <input class="input" type="text" name="priority" value="{{ category.priority }}">
            </td>
            <td>
              <button type="submit" formmethod="post" class="button is-warning">Edit</button>
            </td>
          </form>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}