{% extends "base.html" %}

{% block content%}

<script nonce="{{ csp_nonce() }}">
  document.addEventListener('DOMContentLoaded', function () {
    const forms = document.querySelectorAll('.toggle-food-form');

    forms.forEach(function (form) {
      const checkbox = form.querySelector('.chungus-checkbox');
      checkbox.addEventListener('change', function () {
        form.submit();
      });
    });
  });
</script>

<script nonce="{{ csp_nonce() }}">
  document.addEventListener('DOMContentLoaded', function () {
    const forms = document.querySelectorAll('.toggle-snack-form');

    forms.forEach(function (form) {
      const checkbox = form.querySelector('.chungus-checkbox');
      checkbox.addEventListener('change', function () {
        form.submit();
      });
    });
  });
</script>


<div class="container mt-6 mb-6">
  <div class="box has-background">
    <label class="label">Add a new food!</label>
    <p class="paragraph">Below you can fill in the form for course to be added.</p>
    <form action="{{ url_for('internal.add_food') }}" method="POST">
     {% include 'internal/_food_form_fields.html' %}
      <div class="field">
        <div class="control">
          <button type="submit" formmethod="post" class="button is-link">Add</button>
        </div>
      </div>
    </form>
  </div>

  <div class="table-container">
    <h1 class="title">Food</h1>
    <table class="table is-striped is-fullwidth is-narrow">
      <thead>
        <tr>
          <th width="5%">AVAIL</th>
          <th>NAME</th>
          <th>PRICE</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
        </tr>
        {% for food in foods %}
        <tr>
          <td>
            <div class="checkbox-column">
              <form action="{{ url_for('internal.toggle_food', n=food.id) }}" method="POST" class="toggle-food-form">
                <input type="checkbox" class="chungus-checkbox" {% if food.available %}checked{% endif %}>
              </form>
            </div>
          </td>
          <td>{{ food.name }}</td>
          <td>{{ food.price_kr }}kr</td>
          <td>
            <form action="{{ url_for('internal.delete_food', n=food.id) }}" method="POST">
              <button class="button is-danger is-small uniform-button">Delete</button>
            </form>
            <form action="{{ url_for('internal.edit_food', n=food.id) }}" method="POST">
              <a href="{{ url_for('internal.edit_food', n=food.id) }}" class="button is-link is-small uniform-button">Edit</a>
            </form>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>

  <div class="box has-background">
    <label class="label">Add a new snack!</label>
    <p class="paragraph">Below you can fill in the form for the snack to be added.</p>
    <form action="{{ url_for('internal.add_snacks') }}" method="POST">
      {% include 'internal/_snack_form_fields.html' %}
      <div class="field">
        <div class="control">
          <button type="submit" formmethod="post" class="button is-link">Add</button>
        </div>
      </div>
    </form>
  </div>

  <div class="table-container">
    <h1 class="title">Snack</h1>
    <table class="table is-striped is-fullwidth is-narrow">
      <thead>
        <tr>
          <th width="5%">AVAIL</th>
          <th>NAME</th>
          <th>PRICE</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for snack in snacks %}
        <tr>
          <td>
            <div class="checkbox-column">
              <form action="{{ url_for('internal.toggle_snack', n=snack.id) }}" method="POST" class="toggle-snack-form">
                <input type="checkbox" class="chungus-checkbox" {% if snack.available %}checked{% endif %}>
              </form>
            </div>
          </td>
          <td>{{ snack.name }}</td>
          <td>{{ snack.price_kr }}kr</td>
          <td>
            <form action="{{ url_for('internal.delete_snacks', n=snack.id) }}" method="POST">
              <button class="button is-danger is-small uniform-button">Delete</button>
            </form>
            <form action="{{ url_for('internal.edit_snack', n=snack.id) }}" method="POST">
              <a href="{{ url_for('internal.edit_snack', n=snack.id) }}" class="button is-link is-small uniform-button">Edit</a>
            </form>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>

</div>
{% endblock %}
