{% extends "base.html" %}
{% block title %} {{ g.strings.nav.index }} {% endblock%}

{% block content%}
<style>
  .button-container {
    display: flex;
    justify-content: flex-end;
  }
</style>

<script nonce="{{ csp_nonce() }}">
  document.addEventListener('DOMContentLoaded', function () {
      const container = document.getElementById('workers-container');
      const addWorkerBtn = document.getElementById('add-worker');
      const removeWorkerBtn = document.getElementById('remove-worker');

      const allWorkers = JSON.parse('{{ all_workers|tojson}}');
      const activeWorkers = JSON.parse('{{ active_workers|tojson }}');
      const toggleAllWorkersCheckbox = document.getElementById('toggle-all-workers');
  
      addWorkerBtn.addEventListener('click', function () {
          const firstChild = container.children[0];
          if (firstChild) {
              const newSelect = firstChild.cloneNode(true);
              const selectElement = newSelect.querySelector('select');
              if (selectElement) {
                  selectElement.value = selectElement.options[0].value;
              }
              container.appendChild(newSelect);
          }
      });
  
      removeWorkerBtn.addEventListener('click', function () {
          if (container.children.length > 1) {
              container.removeChild(container.lastElementChild);
          } else {
              alert('At least one worker must be selected.');
          }
      });
  
      function updateWorkerSelectOptions() {
          const workersToUse = toggleAllWorkersCheckbox.checked ? allWorkers : activeWorkers;
          const workerSelects = container.querySelectorAll('.worker-select select[name="workerid[]"]');
  
          workerSelects.forEach(function (selectElement) {
              selectElement.innerHTML = ''; // Clear existing options
  
              // Add a default disabled option
              const defaultOption = document.createElement('option');
              defaultOption.value = "-1";
              defaultOption.disabled = true;
              defaultOption.selected = true;
              defaultOption.textContent = "Select Worker";
              selectElement.appendChild(defaultOption);
  
              // Populate with new options
              workersToUse.forEach(function (worker) {
                  const option = document.createElement('option');
                  option.value = worker.id;
                  option.textContent = worker.display_name;
                  selectElement.appendChild(option);
              });
          });
      }
  
      toggleAllWorkersCheckbox.addEventListener('change', updateWorkerSelectOptions);
  
      // Initial population based on the checkbox state
      updateWorkerSelectOptions();
  });
  </script>

<div class="container mt-6 mb-6">
  <div class="box has-background">
    <label class="label">Add a shift</label>
    <p class="paragraph">Below you can add which people are working this shift. You can even add multiple people at once.</p>
    <form action="{{ request.path }}" method="POST">
      <div class="columns mt-4">
        
        <div class="column is-one-fifth">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Date</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input" type="date" name="date" value="{{ today }}" required>
                </div>
              </div>
            </div>
          </div>
        
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Start</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input" type="time" name="start" value="{{ default_start }}" required>
                </div>
              </div>
            </div>
          </div>
          
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">End</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input" type="time" name="end" value="{{ default_end }}" required>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="column">
          <div id="workers-container">
            <div class="worker-select" data-row-index="0">
              <div class="field is-grouped mb-3">
                <div class="select is-fullwidth">
                  <select name="workerid[]" id="select-worker-shift-0">
                    <option value="-1" disabled selected>Select Worker</option>
                    {% for worker in workers %}
                    <option value="{{ worker.id }}">{{ worker.display_name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="select is-fullwidth">
                  <select name="shift_type[]">
                    {% for shift_type in shift_types %}
                    <option value="{{ shift_type.id }}">{{ shift_type.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field">
            <button type="button" id="add-worker" class="button is-link">Add Worker</button>
            <button type="button" id="remove-worker" class="button is-danger">Remove Worker</button>
          </div>
          <span>
            <input type="checkbox" id="toggle-all-workers" checked>
            <label for="toggle-all-workers">Show all workers</label>
          </span>
        </div>
      </div>
      <div class="button-container">
        <button type="submit" class="button is-success">Add shift</button>
      </div> 
    </form>
  </div>

  <div class="table-container mt-2">
    <table id="shiftsTable" class="table is-fullwidth">
      <thead>
        <tr>
          <th>Date</th>
          <th>Start</th>
          <th>End</th>
          <th>Worker</th>
          <th>Job</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for shift in shifts %}
          <tr>
            <td>{{ shift.date }}</td>
            <td>{{ shift.start }}</td>
            <td>{{ shift.end }}</td>
            <td>{{ shift.worker }}</td>
            <td>{{ shift.type }}</td>
            <td>
              <form action="{{ request.path }}/delete/{{ shift.id }}" method="post">
                <button class="button is-danger is-small" type="submit">Delete</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
