{% extends "base.html" %}
{% block title %} {{ g.strings.nav.index }} {% endblock%}

{% block content%}

<script src="{{ url_for('static', filename='dist/shifts.js') }}" defer></script>
<script nonce="{{ csp_nonce() }}">
  const allWorkers = {{ all_workers|tojson }};
</script>

<div class="container mt-6 mb-6">
  <div class="box has-background">
    <label class="label">Add a shift</label>
    <p class="paragraph">Below you can add which people are working this shift. You can even add multiple people at once.</p>
    <form action="{{ request.path }}" method="POST">
      <div class="columns mt-4">
        
        <div class="column is-one-fifth">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Date</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input" type="date" name="date" value="{{ today }}" required>
                </div>
              </div>
            </div>
          </div>
        
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Start</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input" type="time" name="start" value="{{ default_start }}" required>
                </div>
              </div>
            </div>
          </div>
          
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">End</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input" type="time" name="end" value="{{ default_end }}" required>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div id="workers-container">
            <div class="worker-select" data-row-index="0">
              <div class="field is-grouped mb-3">
                <div class="select is-fullwidth">
                  <select name="workerid[]" id="select-worker-shift-0">
                    <option value="-1" disabled selected>Select Worker</option>
		    	<!-- Options are set in /static/js/shifts.js -->
                  </select>
                </div>
                <div class="select is-fullwidth">
                  <select name="shift_type[]">
                    {% for shift_type in shift_types %}
                      <option value="{{ shift_type.id }}">{{ shift_type.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field">
            <button type="button" id="add-worker" class="button is-link">Add Worker</button>
            <button type="button" id="remove-worker" class="button is-danger">Remove Worker</button>
          </div>
          <span>
            <input type="checkbox" id="toggle-all-workers" checked>
            <label for="toggle-all-workers">Show all workers</label>
          </span>
        </div>
      </div>
      <div class="button-container">
        <button type="submit" class="button is-success">Add shift</button>
      </div> 
    </form>
  </div>

  <input class="input" type="text" id="searchInput" placeholder="Search..." style="width: 20%;">
  <div class="table-container mt-2">
    <table id="shiftsTable" class="table is-fullwidth">
      <thead>
        <tr>
          <th width="10%">Date</th>
          <th>Start</th>
          <th>End</th>
          <th>Worker</th>
          <th>Job</th>
          <th width="8%"></th>
        </tr>
      </thead>
      <tbody>
        {% for shift in shifts %}
          <tr>
            <td>{{ shift.date }}</td>
            <td>{{ shift.start }}</td>
            <td>{{ shift.end }}</td>
            <td>{{ shift.worker }}</td>
            <td>{{ shift.type }}</td>
            <td>
              <form action="{{ request.path }}/delete/{{ shift.id }}" method="post">
                <button class="button is-danger is-small" type="submit">Delete</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <nav id="pagination" class="pagination is-centered" role="navigation" aria-label="pagination">
      <a href="#" class="pagination-previous">Previous</a>
      <a href="#" class="pagination-next">Next page</a>
      <ul class="pagination-list"></ul>
    </nav>
  </div>
</div>

{% endblock %}
