services:
  website:
    container_name: pub-website
    build: website
    networks:
      - reverse-proxy
      - db-con
    environment:
      - ROTARY_SECRET_KEY=${SECRET_KEY}
      - ROTARY_DATABASE=instance/rotary.sqlite
      - ROTARY_USERNAME=${USERNAME}
      - ROTARY_PASSWORD=${PASSWORD}
      - ROTARY_MARIADB_HOST=${MARIADB_HOST}
      - ROTARY_MARIADB_USER=${MARIADB_USER}
      - ROTARY_MARIADB_PASS=${MARIADB_PASS}
      - ROTARY_MARIADB_DB=${MARIADB_DB}
      - ROTARY_SMTP_PORT=587
      - ROTARY_SMTP_HOST=smtp.gmail.com
      - ROTARY_SMTP_USERNAME=${GOOGLE_USERNAME}
      - ROTARY_SMTP_PASSWORD=${GOOGLE_PASSWORD}
      - ROTARY_SMTP_CONTACT_FORM_ADDRESS=info@rotarypub.se
    volumes:
      - ./instance:/app/instance
      - ./secretKey.json:/app/rotary/secretKey.json:ro
    restart: "always"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.rotarypub.rule=Host(`rotary.kryddan.xyz`) && !PathPrefix(`/api`)"
      - "traefik.http.routers.rotarypub.entrypoints=websecure"
  sveltekit:
    container_name: sveltekit-pub-website
    build: sveltekit
    environment:
      - NODE_ENV=production
    networks:
      - reverse-proxy
    volumes:
      - ./instance:/instance
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.rotaryapi.rule=Host(`rotary.kryddan.xyz`) && PathPrefix(`/api`)"
      - "traefik.http.routers.rotaryapi.entrypoints=websecure"

networks:
  reverse-proxy:
    external: true
  db-con:
    external: true
