$brown: #745E38; // Rotary Brown

@use "../../../node_modules/bulma/sass" with (
    $family-primary: '"inter", sans-serif',
    $primary: $brown,
    $navbar-height: 4.5rem
);

// Import DataTables styles
@use "../../../node_modules/datatables.net-bm/css/dataTables.bulma.css";

// Fixes so that colors correctly switch when changing between dark/light mode.
body {
    background-color: var(--bulma-scheme-main);
    color: var(--bulma-text);
}

footer {
    strong{
        color: var(--bulma-text);
    }
}

.navbar-item img {
    height: 3rem; // Adjusted height
    max-height: none; // Ensure the image scales proportionally
    width: auto; // Ensure the image scales proportionally
    object-position: center; // Adjust if necessary to align the image as desired
}

.button-container {
    display: flex;
    justify-content: flex-end;
  }

.internal-dropdown-color {
    background-color: #5A5E5E;
}

.section {
    padding: 1rem;
}

//Used for the edit and delete buttons in internal/beers.html
.uniform-button {
    width: 5em; 
    display: inline-block; /* Ensures the anchor behaves like a button */
    text-align: center; /* Centers the text within the button */
}

.checkbox-column {
    display: flex; // Enables flexbox
    justify-content: center; // Centers horizontally
    align-items: center; // Centers vertically
    height: 100%; // Optional: Adjust based on your layout needs
    padding: 1rem;
}

//Used for setting availability of beers in internal/beers.html
.chungus-checkbox {
    transform: scale(3); // Adjust scale as needed
    margin: 0; // Removes default margin to aid in centering
}

.avail-column{ width: 5%; }
.name-column { width: 20%; }
.cat-column { width: 10%; }
.style-column { width: 20%; }
.abv-column { width: 7%; }
.vol-column { width: 7%; }
.price-column { width: 5%; }
.country-column { width: 5% }
.empty-column { width: 5%; }

/* This style is for the upload and random comic buttons on internal page */
.button:not(#undefined), .button-group .buttons.has-addons label.button:not(#undefined) {
    border-radius: var(--bulma-radius-rounded); 
}

/* This style is for the submit button on the shifts page */
#submitter { 
    margin-left: 20px;
}

/* Hide the checkbox visually but remain accessible */
.theme-toggle-checkbox {
  display: none;
}

/* Style the label to look like a slider track */
.theme-toggle-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 50px; /* Adjust based on your preference */
  height: 24px; /* Adjust based on your preference */
  background-color: var(--bulma-scheme-main); /* Light mode track color */
  border-radius: 12px; /* Half of the height to make it circular */
  cursor: pointer;
  padding: 2px 2px 0;
}

/* Hide the emojis from the visual slider */
.theme-toggle-label i {
    font-size: 14px;
}

/* Style the ball */
.ball {
  position: absolute;
  top: 2px; 
  left: 2px; 
  width: 20px; 
  height: 20px; 
  background-color: hsl(0, 0%, 48%); /* Ball color */
  border-radius: 50%; 
  transition: all 0.3s ease; 
}

/* Move the ball when the checkbox is checked */
#theme-toggle:checked + .theme-toggle-label .ball {
  transform: translateX(26px); 
}