@charset "utf-8";

@import url('https://rsms.me/inter/inter.css');
$family-sans-serif: 'Inter', sans-serif;

$navbar-height: 4.5rem;

$brown: #745E38; // Rotary Brown
$primary: $brown;
@import "../bulma/bulma.sass";

.navbar-item img {
    height: 3rem; // Adjusted height
    max-height: none; // Ensure the image scales proportionally
    width: auto; // Ensure the image scales proportionally
    //object-fit: cover; // Adjust this as needed to 'cover', 'fill', or 'contain' based on desired appearance
    object-position: center; // Adjust if necessary to align the image as desired
}
.internal-dropdown-color {
    background-color: #5A5E5E;
}

.section {
    //padding-top: 1.5rem;
    padding: 1.5rem;
}

.uniform-button {
    width: 5em; /* Or any specific width you prefer */
    display: inline-block; /* Ensures the anchor behaves like a button */
    text-align: center; /* Centers the text within the button */
}

.checkbox-column {
    display: flex; // Enables flexbox
    justify-content: center; // Centers horizontally
    align-items: center; // Centers vertically
    height: 100%; // Optional: Adjust based on your layout needs
    padding: 1rem;
}

.chungus-checkbox {
    transform: scale(3); // Adjust scale as needed
    margin: 0; // Removes default margin to aid in centering
}