$brown: #745E38; // Rotary Brown

@use "../bulma/sass" with (
    $family-primary: '"inter", sans-serif',
    $primary: $brown,
    $navbar-height: 4.5rem,
);
/* Add this inside a <style> tag in the <head> or in an external stylesheet */
@media screen and (max-width: 768px) {
    .table {
        width: 100%; /* Make table width 100% */
    }
    .table th, .table td {
        width: auto; /* Allow table cells to adjust their width automatically */
    }
}
.navbar-item img {
    height: 3rem; // Adjusted height
    max-height: none; // Ensure the image scales proportionally
    width: auto; // Ensure the image scales proportionally
    object-position: center; // Adjust if necessary to align the image as desired
}
.internal-dropdown-color {
    background-color: #5A5E5E;
}

.section {
    padding: 1.5rem;
}

.uniform-button {
    width: 5em; /* Or any specific width you prefer */
    display: inline-block; /* Ensures the anchor behaves like a button */
    text-align: center; /* Centers the text within the button */
}

.checkbox-column {
    display: flex; // Enables flexbox
    justify-content: center; // Centers horizontally
    align-items: center; // Centers vertically
    height: 100%; // Optional: Adjust based on your layout needs
    padding: 1rem;
}

.chungus-checkbox {
    transform: scale(3); // Adjust scale as needed
    margin: 0; // Removes default margin to aid in centering
}

.avail-column{ width: 5%; }
.name-column { width: 20%; }
.cat-column { width: 10%; }
.style-column { width: 20%; }
.abv-column { width: 7%; }
.vol-column { width: 7%; }
.price-column { width: 5%; }
.country-column { width: 5% }
.empty-column { width: 5%; }

/* Increase specificity for all buttons to ensure styles are applied */
.button:not(#undefined), .button-group .buttons.has-addons label.button:not(#undefined) {
    border-radius: var(--bulma-radius-rounded); /* Adjust the border-radius value as needed */
}