@charset "utf-8";

@import url('https://rsms.me/inter/inter.css');
$family-sans-serif: 'Inter', sans-serif;

$navbar-height: 4.5rem;

$brown: #7f5539;
$primary: $brown;
@import "../bulma/bulma.sass";
