<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{%  endblock %} - Rotary Pub</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    
    <!--'Installs' DataTables-->
    <!--TODO: Always get the latest version DataTables and its dependecies-->
      <link href="https://cdn.datatables.net/v/bm/dt-2.1.0/datatables.min.css" rel="stylesheet">

      <!--Include Javascript for jQuery and DataTables-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js" nonce="{{ csp_nonce() }}"></script>
      <script src="https://cdn.datatables.net/v/bm/dt-2.1.0/datatables.min.js" nonce="{{ csp_nonce() }}"></script>
      <script nonce="{{ csp_nonce() }}">
        $(document).ready(function() {
            $('#beersTable').DataTable({
                pageLength: 50,
                lengthMenu: [ [50, 100, 500, -1], [50, 100, 500, "All"] ]
            });
            $('#shiftsTable').DataTable({
                pageLength: 50,
                lengthMenu: [ [50, 100, -1], [50, 100, "All"] ],
                order: [[0, 'desc']]
            });
        });

      document.addEventListener('DOMContentLoaded', () => {
        const themeToggle = document.getElementById('theme-toggle');
        const body = document.body;
        
        // Function to apply the theme
        function applyTheme(theme) {
          body.setAttribute('data-theme', theme);
          localStorage.setItem('theme', theme); // Save theme preference
          themeToggle.checked = theme === 'light'; // Set checkbox state based on theme
        }
        
        // Check for saved theme preference and apply it
        const savedTheme = localStorage.getItem('theme');
        if (savedTheme) {
          applyTheme(savedTheme);
        }
    
        themeToggle.addEventListener('change', () => {
          const newTheme = themeToggle.checked ? 'light' : 'dark';
          applyTheme(newTheme);
        });
      });
      
      document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

          // Add a click event on each of them
          $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {

              // Get the target from the "data-target" attribute
              const target = el.dataset.target;
              const $target = document.getElementById(target);

              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle('is-active');
              $target.classList.toggle('is-active');

            });
          });
        }
      });
    </script>
    
    <!--Schema for SEO-->
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Restaurant",
      "name": "Rotary Pub",
      "url": "https://www.rotarypub.se",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Richertsgatan 2B",
        "addressLocality": "Göteborg",
        "addressRegion": "Västra Götalands län",
        "postalCode": "41281",
        "addressCountry": "Sweden"
      },
      "acceptsReservations": "False",
      "hasMenu": "http://www.rotarypub.se/menu",
      "servesCuisine": "Swedish",
      "currenciesAccepted": "SEK",
      "openingHours": "We-Fr 19:00-00:00",
      "paymentAccepted": "Cash, Credit Card, Swish",
      "priceRange": "$",
      
      "sameAs": ["https://www.facebook.com/rotarypub"],
    }
    </script>
    
  </head>
  <body>

    <nav class="navbar is-primary mb-6" role="navigation" aria-label="main navigation">
      <div class="container">

        <div class="navbar-brand">
          <a class="navbar-item" href="{{ url_for('index') }}">
            <img src="/static/images/newLogo.png">
          </a>
          <a role="button" id="burger" class="navbar-burger" aria-label="menu" data-target="navmenu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navmenu" class="navbar-menu">

          <div class="navbar-start">
            <a class='navbar-item' href="{{ url_for('external.index') }}">{{ g.strings.nav.index }}</a>
            <a class='navbar-item' href="{{ url_for('external.menu') }}">{{ g.strings.nav.menu }}</a>
            <a class='navbar-item' href="{{ url_for('external.work') }}">{{ g.strings.nav.work }}</a>
            <a class='navbar-item' href="{{ url_for('external.rentals') }}">{{ g.strings.nav.rentals }}</a>
            <a class='navbar-item' href="{{ url_for('external.contact') }}">{{ g.strings.nav.contact }}</a>

          </div>

          <div class="navbar-end">
            {% if g.authenticated %}
            <div class="navbar-item has-dropdown is-hoverable" id="internal-dropdown">
              <a class="navbar-link internal-dropdown-color" onclick="document.getElementById('internal-dropdown').classList.toggle('is-active')">Internal</a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="{{ url_for('internal.index') }}">Home</a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="{{ url_for('internal.news') }}">News</a>
                <a class="navbar-item" href="{{ url_for('internal.opening_hours') }}">Hours</a>
                <a class="navbar-item" href="{{ url_for('internal.shifts') }}">Shifts</a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="{{ url_for('internal.beers') }}">Beer</a>
                <a class="navbar-item" href="{{ url_for('internal.food') }}">Food & Snacks</a></a>
                <a class="navbar-item" href="{{ url_for('internal.print_menu') }}">Print Menu</a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="{{ url_for('internal.workers') }}">Manage Workers</a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="{{ url_for('auth.logout') }}" class="button is-danger">Logout</a>
              </div>
            </div>
            {% endif %}
            
            <div class="navbar-item">
              <a class="button" href="{{ url_for('i18n.toggle_language') + '?r=' + request.path}}">
                {{g.strings.nav.language}}
              </a>
            </div>
            <div class="navbar-item">
              <input type="checkbox" class="theme-toggle-checkbox" id="theme-toggle">
              <label for="theme-toggle" class="theme-toggle-label">
                <i>🌞 <!-- Sun emoji --></i>
                <i>🌜 <!-- Moon emoji --></i>
                <span class="ball"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="mr-2 ml-2">
    {% block content %}
    {%  endblock %}
    </div>

    <footer class="footer mt-6">
      <nav class="level">

        <div class="level-item has-text-centered">
          <p class="heading">Currently Serving <strong>{{ g.beer_count }}</strong> beers</p>
        </div>

        <div class="level-item has-text-centered">
          <p class="heading"> &copy; <script>document.write(new Date().getFullYear());</script> Rotary Pub </p>
        </div>

        <div class="level-item has-text-centered">
          <p class="heading">made with 🍺</p>
        </div>

      </nav>

    </footer>

  </body>
</html>
